{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-empty-function": "off",
    "array-bracket-spacing": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "always-multiline"
    }],
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "max-len": ["error", 200],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": false,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ]
      }
    ],
    "jsdoc/require-param-description": 0,
    "prefer-promise-reject-errors": "off",
    "prefer-rest-params": "off"
  },
  "globals": {
    "my": "readonly",
    "getCurrentPages": "readonly"
  }
}